@model PizzeriaAdmin.Models.CategoriaViewModel

<form id="formCategoria">
    <input type="hidden" id="CategoriaId" />

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input class="form-control" id="CatNombre" required />
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="CatActivo" />
        <label class="form-check-label">Activo</label>
    </div>
</form>
